.about {
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;

  &__company {
    width: 520px;
  }

  &__title {
    @include font($cuprum, 30px, 400, 30px, uppercase, $black);
    margin: 0;
    margin-bottom: 28px;
  }

  &__text {
    @include font($pt-sans, 13px, 400, 24px, none, $black);
    margin: 0;
    margin-bottom: 30px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding-left: 36px;
  }

  &__item {
    @include font($cuprum, 18px, 400, 20px, none, $black);
    position: relative;
    margin-bottom: 18px;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 2px;
      background-color: $red-line;
      top: 9px;
      left: -36px;
    }
  }

  &__button {
    width: 220px;
    margin-top: 14px;

    &--contacts {
      width: 300px;
      margin-top: 40px;
    }
  }

  &__contacts {
    width: 300px;
  }

}

