.breadcrumbs {
  margin-top: 23px;
  margin-bottom: 25px;

  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include font($pt-sans, 13px, 400, 18px, none, $black);
    position: relative;
    margin-right: 40px;

    &:nth-child(2)::before,
    &:nth-child(2) ~ &::before {
      position: absolute;
      content: "";
      width: 7px;
      height: 12px;
      top: 6px;
      left: -19px;
      background: url("../img/icon-right-small.png") no-repeat;

    }

    a {
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

