.breadcrumbs {
  margin-top: 23px;
  margin-bottom: 25px;

  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    margin-right: 40px;
    font-family: $pt-sans;
    font-size: 13px;

    &:nth-child(2)::before,
    &:nth-child(2) ~ &::before {
      position: absolute;
      content: "";
      width: 7px;
      height: 12px;
      top: 6px;
      left: -19px;
      background: url("../img/icon-right-small.png") no-repeat;

    }

    a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.product-header {
  background-color: #f2f6f8;
  padding: 32px 24px 34px 30px;
}
