.btn {
  display: inline-block;
  box-sizing: border-box;
  font-family: $cuprum;
  text-decoration: none;
  text-align: center;

    &--rounded {
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 0;
    border-radius: 3px;
    color: white;
  }

  &--red {
    background-color: #ee3643;
  }
}
