.footer {
  background-color: $pickled-bluewood;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 53px;
  }

  &__logo {
    @include font($cuprum, 30px, 400, 24px, uppercase, $white);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 220px;
    padding: 20px 0 20px 0;
    background-color: #ee3643;
    box-shadow: darken($amaranth-button, 25%) 0 5px;
    color: white;
  }

  &__contacts-text {
    @include font($cuprum, 18px, 400, 24px, none, $white);
    width: 323px;
    margin: 0;
    margin-top: 37px;
  }

  &__right-navigation {
    width: 550px;
  }

  &__nav {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-top: 43px;

    &--bottom {
      padding-left: 23px;
    }
  }

  &__nav-item {
    @include font($cuprum, 18px, 400, 18px, none, $white);

    a {
      color: $white;
      text-decoration: none;

    }

    &--bottom a {
      color: $footer-grandis;
    }
  }

  &__bottom {
    background-color: #293449;
    padding-top: 39px;
    padding-bottom: 35px;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    @include font($cuprum, 16px, 400, 18px, none, $white);
    width: 228px;
    margin: 0;
  }

  &__social {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 134px;
    margin: 0;
  }

  &__social-item {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      background-color: #212a3a;
    }
  }

  &__feedback,
  &__made-by {
    @include font($cuprum, 16px, 400, 18px, none, $white);
    margin: 0;

    a {
      text-decoration: none;
      color: #ffd180;
    }
  }
  &__feedback {
    width: 135px;
  }

  &__made-by {
    width: 96px;
    padding-right: 15px;
  }
}
