.left-bar {
  width: 220px;

  &__field {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: none;

    &--manufacturer {
      margin-top: 25px;
      border-bottom: solid 1px #e5e5e5;
    }

    &--battery {
      margin-top: 26px;
    }

    legend {
      @include font($pt-sans, 17px, 600, 30px, uppercase, $black);
      margin-bottom: 22px;
    }
  }

  &__bar-header {
    background-color: $ecru-white-sorting;
    padding: 10px 0 10px 18px;
    box-sizing: border-box;
  }

  &__bar-header-text {
    @include font($pt-sans, 13px, 400, 18px, uppercase, $black);
    margin: 0;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 27px;

      label {
        @include font($pt-sans, 15px, 400, 20px, uppercase, $black);
        position: relative;
        padding-left: 35px;
        cursor: pointer;
      }
    }
  }

  &__button {
    @include font($pt-sans, 13px, 400, 18px, uppercase, $black);
    width: 140px;
    border: solid 1px #e5e5e5;
    padding: 9px 0 9px 0;
  }

  &__checkbox + .checkbox-label::before,
  &__radio + .radio-label::before {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  &__checkbox:checked + .checkbox-label::after,
  &__radio:checked + .radio-label::after {
    content: "";
    position: absolute;
  }

  &__checkbox + .checkbox-label::before {
    background: url("../img/checkbox-off.svg") no-repeat;
    opacity: 0.3;
    left: 0;
    top: 0;
  }

  &__checkbox:checked + .checkbox-label::before {
    width: 26px;
    height: 23px;
    background: url("../img/checkbox-on.svg") no-repeat;
    opacity: 0.3;
  }

  &__radio + .radio-label::before {
    background: url("../img/radio-off.svg") no-repeat;
    opacity: 0.3;
    left: 0;
    top: -2px;
  }

  &__radio:checked + .radio-label::before {
    width: 25px;
    height: 25px;
    background: url("../img/radio-on.svg") no-repeat;
    opacity: 0.3;
  }

  &__checkbox:hover + .checkbox-label::before,
  &__checkbox:checked:hover + .checkbox-label::after,
  &__radio:hover + .radio-label::before,
  &__radio:checked:hover + .radio-label::after {
    opacity: 0.5;
  }
}
