.list-item {
  box-sizing: border-box;
  width: 220px;
  border: solid 1px $mercury-border;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 0 7px $bombay-box-shadow;

    .list-item__popup {
      display: block;
    }
  }

  &__header {
    @include font($pt-sans, 18px, 600, 20px, none, $black);
    margin: auto 25px 10px;
  }

  &__old-price {
    @include font($pt-sans, 17px, 600, 18px, none, #a9a9a9);
    display: block;
    height: 24px;
  }

  &__price {
    @include font($pt-sans, 17px, 600, 18px, none, $white);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 38px;
    background-color: $amaranth-button;
    border-radius: 4px;
    margin-top: 6px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: -26px;
      border: 19px solid $amaranth-button;
      border-right-color: $white;
      border-top-color: $white;
      border-bottom-color: $white;
    }
  }

  &__popup {
    display: none;
    position: absolute;
    top: 0;
    padding: 41px;
    background: $white;
  }

  &__button {
    width: 135px;

    &--buy {
      background-color: $green;
      box-shadow: 0 3px 0 $green-box-shadow;
      padding: 8px 0 6px;
      margin-bottom: 8px;
    }

    &--mark {
      color: #32425c;
      border: 3px solid $green;
      padding: 4px 0;
      background-color: $white;
    }
  }
}
