.main-nav {
  background-color: $pickled-bluewood;
  padding: 0 25px 0 23px;
  //box-shadow: 0 5px 0 0 $pickled-bluewood-box-shadow;
  box-shadow: 0 5px 0 0 darken($pickled-bluewood, 5%);

  &__links {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    li {
      @include font($cuprum, 17px, 400, 18px, none, $white);
      display: inline-flex;
    }

    a {
      color: $white;
      text-decoration: none;
      padding: 20px 30px 18px;
    }
  }
}
