.message-us {
  position: fixed;
  top: 25%;
  left: 33.5%;
  width: 620px;
  background-color: $white;
  margin: 0 auto;
  box-shadow: #b52933 inset 0 5px,
    0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  display: none;
  animation: popup-open 450ms ease-out;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 80px 37px 80px;
  }

  &__input {
    display: flex;
    width: 220px;
    flex-direction: column;

    &--textarea {
      width: 460px;
    }

    &--data {
      margin-bottom: 22px;
    }

    label {
      @include font($cuprum, 18px, 400, 18px, none, $black);
      margin-bottom: 13px;
    }

    input,
    textarea {
      @include font($pt-sans, 13px, 400, 18px, none, #a9a9a9);
      border: solid 2px #dee3e4;
      padding: 8px 16px 8px 16px;
      outline: none;
    }

    textarea {
      resize: none;
    }
  }

  &__button-wrapper {
    background-color: #f4f4f4;
    padding: 37px 0 37px 0;
    text-align: center;
  }

  &__button {
    width: 460px;
    outline: none;
    border: none;
  }
}

.show {
  display: block;
}
