.offers {
  padding-top: 60px;
  padding-bottom: 33px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "box1 box2 box3"
    "slider slider box4"
    "slider slider box5";

    &__button {
    width: 135px;
    background-color: rgba(0,0,0,.1);
  }

    &__item {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 123px;
    padding: 26px 0 22px 23px;
    background-color: $yellow;

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &--1 {
      grid-area: box1;

      &::before {
        background: url("../img/bucket.png") no-repeat;
        width: 44px;
        height: 65px;
        top: 31px;
        right: 43px;
      }

      &::after {
        background: url("../img/new-flag.png") no-repeat;
        width: 60px;
        height: 59px;
        top: 0;
        right: 0;
      }
    }

    &--2 {
      background-color: $blue;
      grid-area: box2;

      &::before {
        background: url("../img/drill.png") no-repeat;
        width: 75px;
        height: 61px;
        top: 33px;
        right: 28px;
      }
    }

    &--3 {
      background-color: $light-orchid;
      grid-area: box3;

      &::before {
        background: url("../img/tractor.png") no-repeat;
        width: 78px;
        height: 62px;
        top: 31px;
        right: 31px;
      }
    }

    &--4 {
      background-color: $green-offer-item-bg;
      grid-area: box4;

      &::before {
        background: url("../img/cart.png") no-repeat;
        width: 59px;
        height: 72px;
        top: 26px;
        right: 45px;
      }
    }

    &--5 {
      grid-area: box5;

      &::before {
        background: url("../img/car.png") no-repeat;
        width: 78px;
        height: 63px;
        top: 32px;
        right: 31px;
      }
    }
  }

  &__header {
    margin: 0;
    color: $white;
    margin-bottom: 15px;
    font-family: $cuprum;
    font-size: 24px;
    font-weight: bold;
  }
}

/*.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Cuprum;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 0;
  width: 135px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}
*/
