.popular-manufacturer {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      width: 220px;
      box-sizing: border-box;
      border: 1px solid #e5e5e5;
      height: 145px;
      margin-bottom: 20px;
      display: inline-flex;

      &:hover {
        box-shadow: 0 0 7px #aeb2ba;
      }

      img {
        margin: auto;
      }
    }
  }
}
