@import "../variables";

.popular-products {
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f5f0;
    padding: 25px 24px 26px 30px;
  }

  &__button {
    width: 253px;
  }

  &__header {
    margin: 0;
    font-family: $cuprum;
    text-transform: uppercase;
    font-size: 30px;
    color: #32425c;
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
}
