.popup-cart {
  position: fixed;
  top: 45%;
  left: 33.5%;
  width: 620px;
  background-color: $white;
  margin: 0 auto;
  box-shadow: #b52933 inset 0 5px,
    0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  display: none;
  animation: popup-open 450ms ease-out;

  &__message-wrapper {
    padding: 75px 0 68px 0;
  }

  &__message {
    @include font($cuprum, 30px, 400, 30px, none, $black);
    margin: 0;
    margin-left: 179px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 66px;
      height: 66px;
      background: url("../img/popup-cart.svg") no-repeat;
      left: -98px;
      top: -20px;
    }
  }
  &__buttons-wrapper {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 37px 0 37px 0;
  }

  &__button {
    width: 220px;

    &--white {
      background-color: $white;
      color: $black;
      margin-left: 20px;
    }
  }
}


@keyframes popup-open {
  0%   {opacity: 0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 0.2;}
  30%  {opacity: 0.3;}
  40%  {opacity: 0.4;}
  50%  {opacity: 0.5;}
  60%  {opacity: 0.6;}
  70%  {opacity: 0.7;}
  80%  {opacity: 0.8;}
  90%  {opacity: 0.9;}
  100% {opacity: 1;}
}

.show {
  display: block;
}
