.popular {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 25px 24px 26px 30px;
  margin-bottom: 20px;

  &__header {
    margin: 0;
    font-family: $cuprum;
    text-transform: uppercase;
    font-size: 30px;
    color: #32425c;
  }

  &__button {
    width: 253px;
  }
}
