.popular {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $merino-product;
  padding: 25px 24px 26px 30px;
  margin-bottom: 20px;

  &--grey {
    background-color: $grey-product;
    padding: 32px 24px 34px 30px;
  }

  &__header {
    @include font($cuprum, 30px, 400, 30px, uppercase, $pickled-bluewood);
    margin: 0;
  }

  &__button {
    width: 253px;
  }
}
