.services {
  background-color: $grey-product;
  padding-top: 68px;
  padding-bottom: 100px;

  &__content {
    .services__slide {
      width: 620px;
      display: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
      }

      &:nth-child(1)::before {
        width: 468px;
        height: 261px;
        top: 27px;
        right: 0;
        background-image: url("../img/delivery-background.png");
      }

      &:nth-child(2)::before {
        width: 389px;
        height: 283px;
        top: 5px;
        right: 0;
        background-image: url("../img/garant-background.png");
      }

      &:nth-child(3)::before {
        width: 465px;
        height: 285px;
        top: 4px;
        right: 0;
        background-image: url("../img/credit-background.png");
      }


      h3 {
        @include font($cuprum, 36px, 600, 36px, uppercase, $pickled-bluewood);
        margin: 0;
      }

      .slide-button {
        width: 195px;
      }

      .slide-text {
        @include font($pt-sans, 13px, 400, 24px, none, $black);

        &--delivery {
          width: 275px;
        }

        &--guarantee {
          width: 375px;
        }

        &--credit {
          width: 280px;
        }
      }
    }
  }

  &__information {
    display: flex;
    justify-content: space-between;

    input {
      display: none;
    }
  }

  .services__switcher1:checked ~ .services__content .services__slide:nth-child(1),
  .services__switcher2:checked ~ .services__content .services__slide:nth-child(2),
  .services__switcher3:checked ~ .services__content .services__slide:nth-child(3) {
    animation: slide 550ms ease-in;
    display: block;
  }

  .services__switcher1:checked ~ .services__switchers label[for="delivery"],
  .services__switcher2:checked ~ .services__switchers label[for="guarantee"],
  .services__switcher3:checked ~ .services__switchers label[for="credit"] {
    color: #32425c;
    background: $white;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
  }

  &__switchers {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      top: -45px;
      height: 279px;
      width: 10px;
      background-image: url("../img/shadow.png");
    }

    label {
      @include font($cuprum, 21px, 600, 21px, none, $white);
      width: 240px;
      display: inline-block;
      box-sizing: border-box;
      padding: 20px 140px 20px 22px;
      background-color: #32425c;
      border-bottom: 1px solid #293449;
      border-top: 1px solid #405069;
      cursor: pointer;
    }
  }

  &__intro {
    width: 400px;
    margin-bottom: 74px;
  }

  &__header {
    @include font($cuprum, 30px, 400, 30px, uppercase, $black);
    margin: 0;
    margin-bottom: 30px;
  }

  &__text {
    @include font($pt-sans, 13px, 400, 24px, none, $black);
    margin: 0;
  }
}
