.slider {
  position: relative;
  padding: 0;
  grid-area: slider;
  overflow: hidden;

  &__slide {
    width: 620px;
    height: 266px;
    display: none;
  }

  &__text-wrapper {
    padding: 27px 0 0 24px;
  }

  &__button {
    width: 195px;
    margin-top: 122px;
  }

  &__controls label {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
  }

  input {
    display: none;
  }

  &__title {
    margin: 0;
    font-family: $cuprum;
    color: white;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    font-family: $cuprum;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  &__controls {
    position: absolute;
    bottom: 35px;
    left: 48%;
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 10px;
  }

  &__switcher1:checked ~ &__content &__slide:nth-child(1) {
    display: block;
    background: url("../img/puncher-man.jpg") no-repeat;
    animation: slide 550ms ease;
  }

  &__switcher2:checked ~ &__content &__slide:nth-child(2) {
    display: block;
    background: url("../img/drill-man.jpg") no-repeat;
    animation: slide 550ms ease-out;
  }

  &__switcher1:checked ~ &__controls label[for="slider__switcher1"] {
    background-color: #ee3643;
  }

  &__switcher2:checked ~ &__controls label[for="slider__switcher2"] {
    background-color: #ee3643;
  }
}

@keyframes slide {
  0%   {opacity: 0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 0.2;}
  30%  {opacity: 0.3;}
  40%  {opacity: 0.4;}
  50%  {opacity: 0.5;}
  60%  {opacity: 0.6;}
  70%  {opacity: 0.7;}
  80%  {opacity: 0.8;}
  90%  {opacity: 0.9;}
  100% {opacity: 1;}
}
