.upper-menu {
  display: flex;
  background-color: inherit;

  &__logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    width: 220px;
    padding: 10px 0 8px 0;
    background-color: #ee3643;
    box-shadow: #b52933 0 5px;
    color: white;
  }

  &__search {
    width: 220px;
    border: none;
    vertical-align: center;
    padding: 12px 0 12px 50px;
    font-size: 17px;
    line-height: 18px;
    cursor: pointer;
    color: #ffffff;
    background: #293449 url("../img/icon-search.png") no-repeat 6.5% 48%;
  }

  &__button {
    width: 150px;
    padding: 9px 0 9px;
    color: white;
    font-size: 17px;


    &--icon {
      position: relative;
      padding: 9px 0 8px 16px;

      &::before {
        content: "";
        position: absolute;
        opacity: 0.3;
      }
    }

    &--bookmarks::before {
      background: url("../img/icon-bookmark.png") no-repeat;
      width: 20px;
      height: 20px;

      top: 12px;
      left: 17px;
    }

    &--cart::before {
      background: url("../img/icon-cart.png") no-repeat;
      width: 14px;
      height: 16px;

      top: 11px;
      left: 18px;
    }
  }


  &__order {
    background-color: #63a63e;
  }
}
