.upper-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  &__description {
    font-family: $cuprum;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    width: 197px;
    color: red;
    padding-left: 52px;
    line-height: 1.44;
  }

  &__upper-contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 14px;

    &-phone-number {
      box-sizing: border-box;
      width: 270px;
      border: solid 3px white;
      font-family: $cuprum;
      font-size: 21px;
      line-height: 1;
      color: red;
      padding: 10px 49px 8px 71px;
      margin: 0;
    }

    &-addres {
      margin: 0;
      text-align: center;
      font-family: $cuprum;
      font-size: 14px;
      line-height: 1.71;
      margin-top: 4px;
    }
  }

  &__autentification {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 14px;
    width: 281px;
  }

  &__button {
    font-size: 21px;
    line-height: 1;
    color: black;
    background-color: white;

    &--login {
      position: relative;
      padding: 12px 24px 12px 48px;
      width: 121px;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background: url("../img/icon-login.png") no-repeat;
        top: 14px;
        left: 14px;
      }
    }

    &--registration {
      padding: 12px 24px 12px 24px;
      width: 150px;
    }
  }
}

