.upper-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 14px;

  &__description {
    @include font($cuprum, 16px, 400, 23px, none, $amaranth-button);
    font-style: italic;
    text-align: left;
    width: 197px;
    padding-left: 52px;
    line-height: 1.44;

    p {
      margin: 0;
    }
  }

  &__upper-contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &-phone-number {
      @include font($cuprum, 21px, 400, 21px, none, $amaranth-button);
      box-sizing: border-box;
      width: 270px;
      border: solid 3px $white;
      padding: 10px 49px 8px 71px;
      margin: 0;
    }

    &-addres {
      @include font($cuprum, 14px, 400, 24px, none, $black);
      margin: 0;
      text-align: center;
      margin-top: 4px;
    }
  }

  &__autentification {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;

    &--logged {
      //justify-content: normal;
      flex-direction: column;
    }
  }

  &__user-menu {
    display: flex;
  }

  &__autentification-menu {
    position: relative;
    display: flex;
    width: 210px;
    justify-content: space-between;
    margin-top: 4px;
    font-size: 16px;
    padding-left: 17px;

    &::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 5px;
      background: $pickled-bluewood;
      border-radius: 50%;
      left: 107px;
      top: 10px;
    }

    a {

      color: $pickled-bluewood;
      font-family: $cuprum;
    }

  }

  &__button {
    @include font($cuprum, 21px, 400, 21px, none, $black);
    background-color: $white;

    &--login {
      position: relative;
      padding: 12px 24px 12px 48px;
      width: 121px;
      margin-left: 19px;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background: url("../img/icon-login.png") no-repeat;
        top: 14px;
        left: 14px;
      }
    }

    &--registration {
      padding: 12px 24px 12px 24px;
      width: 150px;
    }

    &--user {
      text-align: left;
      padding: 12px 0 12px 48px;
      width: 255px;
      position: relative;

      svg {
        position: absolute;
        top: 13px;
        left: 13px;
      }
    }

    &--logout {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
    }
  }
}

