$cuprum: "Cuprum", sans-serif;
$pt-sans: "PT Sans", "Arial", sans-serif;

$red-line: #fb565a;
$red-underline: #b52933;
$grey-product: #f2f6f8;
$merino-product: #f9f5f0;
$pickled-bluewood: #32425c;
$amaranth-button: #ee3643;
$ecru-white-sorting: #f7f3ec;
$white: #ffffff;
$mercury-border: #eaeaea;
$bombay-box-shadow: #aeb2ba;
$green: #63a63e;
$green-box-shadow: #367315;
$pickled-bluewood-box-shadow: #293449;
$yellow: #ffbf47;
$footer-grandis: #ffd180;
$blue: #3bbce3;
$light-orchid: #dc91d8;
$green-offer-item-bg: #8ed78f;
$black: #000000;
